.heading{
    background-color: black;
}

.d-none{
    display: none;
}

.buttons{
    text-align: center;
}

button{
    padding: 15px;
    background-color: black;
    color: white;
    margin-right: 15px;
    font-size: 20px;
    font-weight: bold;
}

input{
    padding: 15px;
}